@media (min-width: 550px) {
  .xs\:block {
    display: block !important;
  }

  .xs\:hidden {
    display: none !important;
  }
}

@media (max-width: 549px) {
  .xs\:block {
    display: none !important;
  }

  .xs\:hidden {
    display: block !important;
  }
}
